# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


# ===
## Based on GitHub's Eclipse .gitignore

run/
.gradle/
build/
gradle-app.setting

## IntelliJ IDEA

.idea/

## Eclipse

eclipse/
*.pydevproject
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath


